@model IEnumerable<OLM.Data.Chapter>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentLink)
             </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ChapterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ChapterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ChapterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
