@model OLM.Data.Enrollment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrolledAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrolledAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Progress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Progress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EnrollmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
