@model IEnumerable<OLM.Data.Enrollment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrolledAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolledAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnrollmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
